<!DOCTYPE html>
<html>
<head>
    <title>Introducere Date pentru Clustering</title>
</head>
<body>
    <h1>Formular de Introducere Date pentru Clustering</h1>
    <form method="post" action="/predict">
        <input type="text" name="area" placeholder="Introduceți aria seminței" required="required" />
        <input type="text" name="perimeter" placeholder="Introduceți perimetrul seminței" required="required" />
        <input type="text" name="compactness" placeholder="Introduceți compactitatea" required="required" />
        <input type="text" name="length_of_kernel" placeholder="Introduceți lungimea kernelului" required="required" />
        <input type="text" name="width_of_kernel" placeholder="Introduceți lățimea kernelului" required="required" />
        <input type="text" name="asymmetry_coefficient" placeholder="Introduceți coeficientul de asimetrie" required="required" />
        <input type="text" name="length_of_kernel_groove" placeholder="Introduceți lungimea canelurii kernelului" required="required" />
        <button type="submit">Predicție Cluster</button>
    </form>
</body>
</html>
